# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
app/**/doc/api/
app/**/ios/Flutter/.last_build_id
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
# Flutter/Dart
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages

# 依存パッケージ（pubspec.lockは含めてOK）
# app/pubspec.lock はコミットしてよい

# macOS
.DS_Store.app/.pub/
app/build/
app/pubspeck.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
app/android/app/debug
app/android/app/profile
app/android/app/release

/plugins/

# Flutter/Dart
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages

# 依存パッケージ（pubspec.lockは含めてOK）
# app/pubspec.lock はコミットしてよい

# macOS
.DS_Store